* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: rgb(241, 241, 220);
}

.header {
    background-color: rgb(28, 56, 47);
}

/* for the Fresh Air Finder h1 */
.title {
    text-align: center;
    font-family: 'Courgette', cursive;
    color:rgb(255, 238, 183);
    font-size: 55px;
    text-shadow: 2px 2px 8px #aaaaaa;
    
}

.sectionCenter {
    margin: 0 auto;
    text-align: center;
}

.subtitle {
    text-align: center;
    color:rgb(255, 238, 183);
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* centers the heroes including the search bars */
.is-success {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* changes the background image */
.is-halfheight {
    background-image: url('https://images.unsplash.com/photo-1511497584788-876760111969?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1489&q=80');
    width: 100%;
    height: 1000px;
    min-height: 800px;
    background-size: cover;
}

#state-code {
    border-radius: 6px;
}

.director {
    color:rgb(255, 238, 183);
    font-family: 'Courgette', cursive;
}

.container {
    display: flex;
    flex-wrap: wrap;
}
#parks-list {
    background-color: rgb(28, 56, 47);
    width: 100%;
    border-radius: 10px;
    
}

li {
    color: rgb(225, 200, 169);
    padding: 2px;
    margin: 2px;
}

/* hides the dropdown arrow */
.select:not(.is-multiple):not(.is-loading)::after {
    border-color: #3273dc;
    right: 1.125em;
    z-index: 4;
    display: none;
}